<app-posts-create></app-posts-create>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container" *ngIf="posts.length>0">
    <div class="accordion" id="accordionExample">
        <div class="" *ngFor="let post of posts">
            
            <div class="" style="width: 100%" height="50px;">
                <div class="row justify-content-center">
                <div class="col-8">
                <img class="card-img-top" src="https://homepages.cae.wisc.edu/~ece533/images/airplane.png" alt="Card image cap">
                <div class="card-body">
                        <div class="float-right">
                                <div>
                                   <a class="btn btn-sm btn-primary bg-info" href="#"><i class="far fa-edit"></i></a>&nbsp;&nbsp;
                                   <a class="btn btn-sm btn-primary  bg-danger" href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                  </div>
                           </div>
                    <p class="font-weight-normal">Title</p>
                    <p class="font-weight-normal">Description</p>
                  <div class="float-right">
                      <div>
                            <a class="btn btn-sm btn-primary bg-info" href="#"><i class="far fa-edit"></i></a>&nbsp;&nbsp;
                            <a class="btn btn-sm btn-primary  bg-danger" href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </div>
                 </div>
                  <!--<p class="card-text">Comment</p>-->
                  <div class="form-group shadow-textarea">
                        <label for="exampleFormControlTextarea6">Comment</label>
                        <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" placeholder="Add a comment..."></textarea>
                      </div>
                
                </div>
                </div>
              </div>
              </div>
        </div>
    </div>
</div>