<div class="card" style="width: 18rem;" >
  <img src="assets\images\Artè Logo.png" alt="John" style="width:100%" class="card-img-top">
  <h1>John Doe</h1>
  <p class="title card-title">CEO & Founder, Example</p>
  <p class="card-text">Harvard University</p>
  <a href="#"><i class="fab fa-dribbble dribble"></i></a>
  <a href="#"><i class="fab fa-twitter twitter"></i></a>
  <a href="#"><i class="fab fa-linkedin linkedin"></i></a>
  <a href="#"><i class="fab fa-facebook facebook"></i></a>
  <p><button>Contact</button></p>
</div>



