<div class="card shadow-lg"  >
  <img src="assets/images/Artè Logo.png" alt="John"  class="card-img-top rounded ">
  <h1>John Doe</h1>
  <p class="title card-title">CEO & Founder, Example</p>
  <p class="card-text">Harvard University</p>
  <div class="grid-container">
    <div class="grid-item"> <a href="#"><i class="fab fa-dribbble "></i></a></div>
    <div class="grid-item"> <a href="#"><i class="fab fa-twitter"></i></a></div>
    <div class="grid-item"> <a href="#"><i class="fab fa-linkedin "></i></a></div>
    <div class="grid-item">  <a href="#"><i class="fab fa-facebook "></i></a></div>
  </div>
  <p><button>Contact</button></p>

</div>



